<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite" parallel="tests" thread-count="5">
    <test name="Chrome Test">
        <parameter name="browser" value="chrome"/>
        <parameter name="URL" value="https://coffe-soft.com/"/>
        <classes>
            <class name="Web.LoginTest"/>
        </classes>
    </test>

</suite>